<ion-header>
  <ion-toolbar color='#2F4F4F'>
    <ion-icon name="arrow-back-outline" size="large" (click)="backButton()"></ion-icon>
    <ion-title style="text-align: center;">About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <div>
  <p>
    Kasi Food Hub is a mobile system for ordering food that will help vendors to optimize and control over their restaurants.
    With the improvement of technology, online food ordering system are becoming a popular topic.
     That's because they are serving the ever increasing demand of convincing people.
     This documentation defines the process of ordering food as a whole, it specifies the system requirements. specifies the restaurant and their menus.
     With Kasi Food Hub system you will be required to register yourself as a vendor or a customer before you can access the system. 
     As a vendor after registering your restaurant you will be able to add your menu and prices, you will be able to control the restaurant by having all the reports to hand. 
     As a customer you may order food via the app service, during the ordering time the customer will be required to indicate the address, and then she/he will be given a selection of food and their restaurant ( which fall within the prescribed area as showed by the Kasi Food Hub) surrounding your given address.
  </p>
  <p>From Sosha to Soweto,Alex to Mams ,Tembisa to peli. your kasi your food</p>
</div>
</ion-item>
<div>
 
  <ion-button color="danger" shape="round" (click)="backButton()">Back</ion-button>
</div>
</ion-content>
