<ion-header>
  <ion-toolbar color= '#2F4F4F'>
    <ion-icon name= "arrow-back" (click)="back()"></ion-icon>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="/assets/images/signup_male.png" alt="profile">
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="user-meta ion-text-center">
      <h3 class="playername">Welcome</h3>
      <h5 class="country">kasi food hub</h5>
      <ion-item>
        <ion-label position="floating">Name and Surname</ion-label>
        <ion-label>
          <h4>{{custData.name}}</h4>
          <h4>{{custData.email}}</h4>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email Address</ion-label>
       <h4>{{custData.name}}</h4>
          <h4>{{custData.email}}</h4>
      </ion-item>
    </div>
  
    
  </div>
</ion-content>
